/* BMI form section*/
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px 480px;
    padding: 10px 0px 20px 0px;
}

.box-form{
    display: flex;
    padding: 15px;
    width: auto;
    height: 380px;
    text-align: justify;
    border-radius: 3px;
    background: #D4E2D4;
    justify-content: flex-start;
}

.allert {
    color: red;
    margin-top: 0%;
}

.input{
    width: 400px;
    height: 20px;
    margin: 10px 0px 0px 0px;
}

@media (max-width: 1500px) {
    .container {
        display: flex;
        height: 100%;
        padding: 10px 0px 20px 0px;
        margin: 0px 350px;
    }
    .input{
        width: 300px;
        height: 20px;
    }
  }

  @media (max-width: 1100px) {
    .container {
        display: flex;
        height: 100%;
        padding: 10px 0px 20px 0px;
        margin: 0px 200px;
    }
    .input{
        width: 200px;
        height: 20px;
    }

  }

  @media (max-width: 780px) {
    .container {
        display: flex;
        height: 100%;
        padding: 10px 0px 20px 0px;
        margin: 0px 0px;
    }
    .input{
        width: 250px;
        height: 18px;
    }
  }

/* BMI result section */
.box-result{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    height: 170px;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    border-radius: 3px;
    background: #D4E2D4;
    justify-content: flex-start;
}
.list {
	padding : 0px 20px;
}